<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AnnouncementMapper">
    <select id="getAllAnnouncements" resultType="org.example.pojo.Announcement">
        SELECT announcement_id, title, content, publish_time
        FROM announcements
        ORDER BY publish_time DESC
    </select>
</mapper>