<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.partTimeUser.PackageMapper">
<!--    todo:其实这里插入包裹信息应该是管理员的任务吧-->
    <insert id="insertPackage" parameterType="org.example.pojo.Package">
        INSERT INTO packages (express_company, tracking_number, recipient_id, status, arrival_time, pickup_time, pickup_user_id)
        VALUES (#{expressCompany}, #{trackingNumber}, #{recipientId}, #{status}, #{arrivalTime}, #{pickupTime}, #{pickupUserId})
    </insert>

    <select id="getPackageById" resultType="org.example.pojo.Package">
        SELECT * FROM packages WHERE package_id = #{packageId}
    </select>

    <update id="updatePackageStatus" parameterType="map">
        UPDATE packages
        SET status = #{status}
        WHERE package_id = #{packageId}
    </update>

    <select id="getAllPackages" resultType="org.example.pojo.Package">
        SELECT * FROM packages
    </select>
</mapper>