<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.partTimeUser.PackageMapper">

    <insert id="insertPackage" parameterType="org.example.pojo.Package">
        INSERT INTO packages (express_company, tracking_number, recipient_id, status, arrival_time, pickup_time, pickup_user_id)
        VALUES (#{express_company}, #{tracking_number}, #{recipient_id}, #{status}, #{arrival_time}, #{pickup_time}, #{pickup_user_id})
    </insert>

    <update id="updatePackage" parameterType="org.example.pojo.Package">
        UPDATE packages
        SET
            express_company = #{express_company},
            tracking_number = #{tracking_number},
            recipient_id = #{recipient_id},
            status = #{status},
            arrival_time = #{arrival_time},
            pickup_time = #{pickup_time},
            pickup_user_id = #{pickup_user_id}
        WHERE package_id = #{package_id}
    </update>

    <update id="updatePackageStatus" parameterType="org.example.pojo.Package">
        UPDATE packages
        SET
            status = #{status}
        WHERE package_id = #{packageId}
    </update>

    <delete id="deletePackage" parameterType="int">
        DELETE FROM packages WHERE package_id = #{packageId}
    </delete>

    <select id="getAllPackages" resultType="org.example.pojo.Package">
        SELECT * FROM packages
    </select>

</mapper>