<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ordinaryUser.EvaluationMapper">
    <insert id="insertEvaluation" parameterType="org.example.pojo.Evaluation">
        INSERT INTO evaluations (user_id, package_id, satisfaction, feedback, is_complaint)
        VALUES (#{user_id}, #{package_id}, #{satisfaction}, #{feedback}, #{is_complaint})
    </insert>
    <select id="getEvaluationsByUserId" resultType="org.example.pojo.Evaluation">
        SELECT * FROM evaluations
        WHERE user_id = #{userId}
    </select>
</mapper>