<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ordinaryUser.NotificationMapper">
    <insert id="insertNotification" parameterType="org.example.pojo.Notification">
        INSERT INTO notifications (user_id, package_id, notification_type, content, send_time)
        VALUES (#{user_id}, #{package_id}, #{notification_type}, #{content}, #{send_time})
    </insert>
    <insert id="insertNotificationForPickup" parameterType="org.example.pojo.Notification">
        INSERT INTO notifications_pickup (pickup_id, package_id, notification_type, content, send_time)
        VALUES (#{user_id}, #{package_id}, #{notification_type}, #{content}, #{send_time})
    </insert>
    <select id="getNotificationsByUserId" resultType="org.example.pojo.Notification">
        SELECT * FROM notifications
        WHERE user_id = #{userId}
    </select>
</mapper>