<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ordinaryUser.NotificationMapper">
    <insert id="insertNotification" parameterType="org.example.pojo.Notification">
        INSERT INTO notifications (user_id, package_id, notification_type, content, send_time)
        VALUES (#{user_id}, #{package_id}, #{notification_type}, #{content}, #{send_time})
    </insert>
    <insert id="insertNotificationForPickup" parameterType="org.example.pojo.Notification">
        INSERT INTO notifications_pickup (user_id, package_id, notification_type, content, send_time)
        VALUES (#{user_id}, #{package_id}, #{notification_type}, #{content}, #{send_time})
    </insert>
    <select id="getNotificationsByUserId" resultType="org.example.pojo.Notification">
        SELECT * FROM notifications
        WHERE user_id = #{userId}
    </select>
    <select id="getNotificationsByPickupUserId" resultType="org.example.pojo.Notification">
        SELECT * FROM notifications_pickup
        WHERE user_id = #{pickupUserId}
    </select>

    <!-- 添加分页查询SQL -->
    <select id="getNotificationsByPage" resultType="org.example.pojo.Notification">
        SELECT *
        FROM notifications
        WHERE user_id = #{userId}
        ORDER BY send_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 添加获取总数SQL -->
    <select id="getTotalCountByUserId" resultType="int">
        SELECT COUNT(*)
        FROM notifications
        WHERE user_id = #{userId}
    </select>

    <!-- 添加兼职代取用户的分页查询SQL -->
    <select id="getNotificationsForPickupByPage" resultType="org.example.pojo.Notification">
        SELECT *
        FROM notifications_pickup
        WHERE user_id = #{pickupUserId}
        ORDER BY send_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 添加获取兼职代取用户通知总数SQL -->
    <select id="getTotalCountForPickupByUserId" resultType="int">
        SELECT COUNT(*)
        FROM notifications_pickup
        WHERE user_id = #{pickupUserId}
    </select>
</mapper>